{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/security.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-security'}}) }}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {{ form_errors(form.email) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}

    {{ form_errors(form.password) }}
    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}

    {{ form_widget(form.submit) }}

    {{ form_end(form) }}
{% endblock %}
